.Profile {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.Profile .userInfoContainer {
  padding-top: 70px;
  text-align: center;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.Profile .userInfoContainer .line {
  height: 1px;
  width: 250px;
  margin-top: 10px;
  background-color: grey;
}

.Profile .userInfoContainer a {
  margin-top: 12px;
}
.Profile .userInfoContainer a img {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.Profile .filterContainer {
  margin: 20px;
}

.Profile .filterContainer button {
  background-color: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.3rem;
  margin: 10px;
  outline: none;
  border: none;
}

.Profile .filterContainer button.selected {
  background-color: rgb(0, 140, 255);
}

@media screen and (max-width: 815px) {
  .Profile {
    margin-left: 0;
    width: 100%;
  }
}
