.Profile {
  margin-left: 250px;
}

.Profile .userInfoContainer {
  padding-top: 30px;
  text-align: center;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.Profile .userInfoContainer .line {
  height: 1px;
  width: 250px;
  background-color: grey;
}

.Profile .userInfoContainer a {
  margin-top: 12px;
}
.Profile .userInfoContainer a img {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
