.Profile {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.Profile .userInfoContainer {
  padding-top: 70px;
  text-align: center;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.Profile .userInfoContainer .line {
  height: 1px;
  width: 250px;
  margin-top: 10px;
  background-color: grey;
}

.Profile .userInfoContainer a {
  margin-top: 12px;
}
.Profile .userInfoContainer a img {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 815px) {
  .Profile {
    margin-left: 0;
    width: 100%;
  }
}
