.FormContainer {
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
}

.FormContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: white; */
  color: grey;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.FormContainer form .formGroup {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px 0;
}

.FormContainer form .formGroup label {
  font-size: 1.2rem;
  margin: 5px 0;
}

.FormContainer form .formGroup input,
.FormContainer form .formGroup textarea,
.FormContainer form .formGroup button,
.FormContainer form .formGroup select {
  font-size: 1.3rem;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: rgba(59, 59, 59, 0.87);
  border-radius: 5px;
  color: white;
  transition: all 200ms linear;
}

.FormContainer form .formGroup input:focus,
.FormContainer form .formGroup textarea:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.774);
}

.FormContainer form .formGroup input::placeholder {
  font-style: italic;
  font-size: 1.1rem;
}

.FormContainer form .formGroup button {
  background-color: rgb(0, 140, 255);
  color: white;
  cursor: pointer;
}

.FormContainer form .formGroup button:hover {
  background-color: rgb(0, 110, 255);
}

.FormContainer form .formGroup .langugeBoxContainer {
  display: flex;
}

.FormContainer form .formGroup .langugeBoxContainer .languageBox {
  /* background-color: grey; */
  margin: 0px 5px;
  font-size: 1.1rem;
  color: white;
  padding: 2px 10px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.FormContainer form .formGroup .langugeBoxContainer .selectedLanguage {
  background-color: rgba(2, 136, 177, 0.726);
}

@media screen and (max-width: 815px) {
  .FormContainer {
    margin-left: 0;
    width: 100vw;
  }

  .FormContainer form {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .FormContainer form {
    width: 90%;
  }
}
