.code-container {
  width: 95%;
  margin: 20px auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noSnippetMessage {
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .code-container {
    width: 80%;
  }
}

@media screen and (min-width: 990px) {
  .code-container {
    width: 70%;
  }
}

@media screen and (min-width: 1150px) {
  .code-container {
    width: 60%;
  }

  .loadingContainer {
    height: 75vh;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1350px) {
  .code-container {
    width: 50%;
  }
}
/* 
@media screen and (min-width: 1350px) {
  .code-container {
    width: 50vw;
  }
} */
