@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap");

nav {
  width: 250px;
  background-color: rgb(32, 32, 32);
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  color: rgb(229, 229, 229);
}

nav .logoContainer {
  text-align: center;
  font-size: 1.9rem;
  padding: 15px;
  color: #3bb2ff;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Mukta", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "PT Sans", sans-serif;
}

nav .navLinkContainer {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 10px 30px;
  margin-top: 10px;
}

nav .navLinkContainer .navLink {
  display: flex;
  margin: 5px;
  /* background-color: rgb(255, 255, 255); */
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  color: rgb(213, 213, 213);
  padding: 5px;
  border-radius: 5px;
  transition: all 200ms linear;
}

nav .navLinkContainer .userLink {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  color: gold;
  font-weight: 600;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .navLinkContainer .navLink:hover {
  background-color: rgb(85, 85, 85);
}

nav .navLinkContainer .snippetContainer {
  padding: 5px 15px;
  background-color: #404040;
  border-radius: 5px;
}

nav .navLinkContainer .snippetContainer .snippetBox {
  margin: 5px 0;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms linear;
  color: rgb(156, 156, 156);
}

nav .navLinkContainer .snippetContainer .snippetBox:hover {
  color: #03b5e8;
  /* background-color: black; */
}
