.topic-container{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.topic-tag{
  font-size: 20px;
  border: none;
  outline: none;
  padding: 5px 15px;
  margin: 10px 10px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  background: #454545;
  color: #ffffff;
  transition: all 120ms linear;
}

.topic-tag:hover{
  background: #ffffff;
  color: #454545;
}

.active-topic{
  background-color: #30d46f;
  color: #ffffff;
}

.active-topic:hover{
  background-color: #1cba59;
  color: #ffffff;
}

.welcome-text{
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  text-align: center;
  color: white;
  margin-top: 50px;
}
