.snippet-container {
  width: 100%;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: auto;
  background-color: #0a0a0a;
  border: 2.5px solid #393939;
}

.snippet-title {
  color: #00ced1;
  font-size: 28px;
  margin: 0 0 10px;
}

.snippet-contributor {
  color: #999;
  font-size: 16px;
  margin: 0 0 20px;
}

.snippet-contributor a {
  text-decoration: none;
  color: inherit;
  transition: 120ms linear;
}

.snippet-contributor a:hover {
  color: #ccc;
}

.snippet-description {
  margin: 20px 0;
  color: #d0d0d0;
  font-size: 18px;
}

.snippet-line {
  height: 1px;
  background-color: #333;
  width: 60%;
  margin: 20px auto;
}

.complexity {
  margin: 10px 0;
  font-size: 16px;
  color: #ccc;
}

.code-snippet {
  background: #303030;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  overflow: auto;
  color: #ffefd5;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.snippets-btn {
  background-color: #777;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 5px;
  cursor: pointer;
  transition: all 140ms linear;
  outline: none;
  border: none;
  font-size: 16px;
}

.language-btn {
  background-color: #26557c;
  color: white;
  font-weight: 600;
}

.snippets-btn:hover {
  background-color: #a3a3a3;
  color: black;
}

.copy-btn {
  background-color: #2ecc71;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 5px;
  cursor: pointer;
  transition: all 140ms linear;
  outline: none;
  border: none;
  font-size: 16px;
}

.copy-btn:hover {
  background-color: #27ae60;
}

.editButtonContainer button {
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;
  color: white;
}

.editButtonContainer button.edit {
  background-color: #27ae5fd3;
}

.editButtonContainer button.delete {
  background-color: rgba(255, 109, 55, 0.911);
}
