.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: all 200ms linear;
}

.search-container .searchAndBurgerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.search-container .hamburger img {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 720px) {
  .search-container {
    width: 70%;
  }
}

@media screen and (min-width: 990px) {
  .search-container {
    width: 60vw;
  }
}

@media screen and (min-width: 1150px) {
  .search-container {
    width: 50%;
  }
}

@media screen and (min-width: 1350px) {
  .search-container {
    width: 40%;
  }
}

input[type="search"] {
  font-size: 20px;
  outline: none;
  width: 75%;
  border: none;
  background-color: #afafafde;
  border-radius: 7px;
  font-weight: 600;
  padding: 10px 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms linear;
}

input[type="search"]::placeholder {
  color: #000000;
  font-weight: 400;
}

input[type="search"]:focus {
  background-color: #cfcecede;
  color: black;
}

.searchBg {
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 200ms linear;
  display: flex;
  flex-direction: column;
}

.searchBg input[type="search"] {
  background-color: #008080de;
  /* color: white; */
}

.searchBg input[type="search"]:focus {
  /* background-color: #f9be71; */
  color: white;
}
